////////////////////////////////////////
// LOGO
.logo {
  height: 3.25rem;
}

////////////////////////////////////////
// SEARCH
.search {
  background-color: antiquewhite;
  &__input {
  }

  &__button {
  }

  &__icon {
    height: 2rem;
    width: 2rem;
}
}

////////////////////////////////////////
// USER NAVIGTION
.user-nav {
  background-color: cadetblue;
  &__icon-box {
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
  }

  &user {
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }

  &__user-name {
  }
}
